@use 'variables' as *;
@use 'mixin' as *;

// ==========================
// プロジェクト共通項目
// ==========================

body {
    font-family: "Noto Serif JP", serif;
    background-color: $color-base;
    color: $color-text;
    margin: 0;
    padding: 0;
}

iframe {
    width: 100vw;
    height: 100vh;
    border: none;
    display: block;
    background-color: #988787;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 2%;
}

// セクション間の余白
.sec-pd {
    padding-block: 100px;
    @include tab {
        padding-block: 70px;
    }
}

// セクションタイトル
// .section-title {

// }

// アイコン画像サイズ
.icon {
    width: 30px;
}