@use 'variables' as *;
@use 'mixin' as *;

header {
  height: $header-height;
  @include flex;
  align-items: center;
  padding-inline: 5%;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: transparent; // ←背景透過にする
  transition: transform 0.3s; /* 滑らかに動かす */

  @include tab {
    padding-inline: 2%;
  }

  .left-header {
    @include flex(flex-start, 10px);
    width: 40%;
    align-items: center;
    height: 100%;

    @include tab {
      width: auto;
    }

    .logo {
      display: block;

      img {
        height: 50px;
        width: auto;
        display: block;

        @include sp {
          height: 40px;
        }
      }
    }

    h1 {
      margin-top: 25px;
      font-size: 2.2rem;
      font-weight: normal;

      @include tab {
        display: none;
      }

      span {
        font-size: 1.2rem;
      }
    }
  }

  .right-header {
    @include flex(flex-end, 20px);
    align-items: center;
    width: 60%;

    .btn {
      @include flex(space-between, 20px);
      align-items: center;
      border: 1px $color-accent solid;
      border-radius: 50px;
      background-color: $color-white;
      padding: 0 0 0 20px;
      transition: background-color 0.3s ease; // ふわっと切り替え
      position: relative;
      z-index: 100;

      &:hover {
        background-color: $color-accent;
        color: $color-white;
      }

      .btn-icon-wrapper {
        background-color: $color-accent;
        padding: 10px;
        border-radius: 50px;
      }

      @include tab {
        padding: 0; // 余白リセット

        .btn-text {
          display: none; // ← テキストだけ消す
        }

        .btn-icon-wrapper {
          margin: 0;
        }
      }

    }

    .icon-wrapper {
      background-color: $color-accent;
      padding: 10px;
      border-radius: 50px;
      transition: background-color 0.3s ease; // ふわっと切り替え
      z-index: 100;
      position: relative;

      &:hover {
        background-color: $color-main;
      }
    }

    .toggle-btn {
      width: 50px;
      height: 50px;
      background-color: $color-main;
      padding: 10px;
      border-radius: 50px;
      z-index: 100;
      position: relative;
      cursor: pointer;

      span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 50%;
        border-radius: 10px;
        background-color: $color-white;
        transition: .5s ease;

        &:nth-child(1) {
          top: 30%;
        }

        &:nth-child(2) {
          top: 48%;
        }

        &:nth-child(3) {
          top: 65%;
        }
      }
    }

    nav {
      @include flex(center, 40px);
      flex-direction: column;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      width: 600px;
      height: 90vh;
      border-top-left-radius: 100px;
      background-color: rgba($color: $color-header, $alpha: 0.5);
      border: 1px solid $color-header-arrow;
      transform: translateX(100%); // 初期は右の外に隠す
      opacity: 0;
      visibility: hidden;
      transition: .3s ease;
      padding-inline: 5%;
      z-index: 0;

      @include tab {
        width: 100%;
        height: 100vh;
        gap: 20px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-image: url(../img/logo.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 454px;
        height: 173px;
        opacity: 0.2;
        z-index: -1;
      }

      .index {
        font-size: 4.8rem;
        letter-spacing: 4px;

        @include tab {
          text-align: center;
        }
      }

      .flex {
        @include flex(center, 2%);

        @include tab {
          flex-direction: column;
          gap: 20px;
        }

        .nav-list {
          width: 60%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 40px;
          height: 100%;
          border-top-left-radius: 100px;

          @include tab {
            width: 100%;
            gap: 30px;
            text-align: center;
          }


          .page-jump {
            position: relative;
            display: inline-block;
            font-size: clamp(2.3rem, 1.4vw, 2.6rem);

            &::after {
              content: "";
              position: absolute;
              bottom: -3px;
              left: 0;
              height: 2px;
              width: 0;
              background-color: $color-accent;
              opacity: 0;
              transition: all .3s ease;
            }

            &:hover::after {
              opacity: 1;
              width: 100%;
            }
          }
        }

        .banner {
          display: grid;
          grid-template-columns: 1fr;
          justify-items: center;
          width: 40%;
          gap: 20px;

          @include tab {
            width: 100%;
            grid-template-columns: repeat(2, 1fr); // 横並び
          }


          img {
            width: 200px;
            transition: all .3s ease;

            @include sp {
              width: 150px;
            }

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }

    }
  }

  &.open {
    .toggle-btn {
        span {
            &:nth-child(1),
            &:nth-child(3) {
              opacity: 0;
            }
        }
    }

    nav {
      transform: translateX(0); // ← スライドイン
      opacity: 1;
      visibility: visible;
    }
  }

    &.hide {
        transform: translateY(-100%);
    }
}