@use 'variables' as *;

// ================================================
// レスポンシブ
// ================================================
// @mixin pc {
//     @media (max-width: ($pc)) {
//         @content;
//     }
// }


// 以下で設定
// $tab: 768px;
// $sp: 425px;

@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}


// ================================================
// flex
// ================================================
@mixin flex($justify-content: space-between, $gap: 0px) {
    display: flex;
    justify-content: $justify-content;
    gap: $gap;

}


@mixin title {
    background: linear-gradient(90deg, $color-main 50%, $color-white);
    border-radius: 5px;
    width: 100%;
}

