@use 'variables' as *;
@use 'mixin' as *;

.page-news-list {

    ul {
        padding-block: 5%;
        width: 80%;
        margin: 0 auto;

        li {
            border: 1px solid $color-blue;
            border-radius: 0 30px 0 30px;
            background-color: rgba($color-blue, 0.3);
            display: flex;
            margin-bottom: 5%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            h2 {
                font-size: 2.4rem;
                margin-block: 4%;
                margin-inline: 8%;
            }

            p {
                font-size: 1.4rem;
                margin-inline: 8%;
                flex-grow: 1;
            }
        }
    }
}