@use 'variables' as *;
@use 'mixin' as *;


// .container {
//     max-width: 1200px;
//     padding-inline: 2%;
// }

.about-container {
    width: 80%;
    margin: 0 auto;
}

.page-about {

    .section-title {
        position: relative;
        padding-block: 75px;
        margin-block: 30px;
        background-color: $color-sky-blue;
        text-align: center;
        border-radius: 0 30px 0 30px;

        .inner {
            width: 80%;
            margin: 0 auto;

            h2 {
                color: $color-text;
                font-size: 2.4rem;
            }

            p {
                text-align: left;
            }
        }
    }

    .section-text {
        h3 {
            font-size: 2.4rem;
            margin: 50px 0 30px;
            text-align: center;
        }

        dl {
            width: 40%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;

            @include tab{
                width: 70%;
            }

            dt {
                width: 35%;
                padding-block: 14px;
                font-size: 1.5rem;
                border-top: 1px solid $color-sky-blue;
            }

            dd {
                width: 65%;
                padding-block: 14px;
                font-size: 1.5rem;
                border-top: 1px solid $color-sky-blue;

                ul {
                    li {
                        font-size: 1.5rem;

                        span {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    .sales-office {
        margin-block: 5%;

        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;

            @include tab {
                grid-template-columns: 1fr;
            }

            
            li {
                background-color: $color-sky-blue;
                padding: 30px;
                border-radius: 5px;

                h3 {
                    font-size: 2.4rem;
                }

                .map {
                    width: 100%; 
                    height: auto; 
                    aspect-ratio: 3 / 2; 

                    iframe {
                        width: 100%; 
                        height: 100%; 
                    }
                }

                .address {
                    margin-top: 5%;
                    p {
                        font-size: 1.6rem;
                    }
                }

                .tel {
                    margin-top: 5%
                }
            }

        }
    }


    .company {

        .company-infomation {
            padding-left: 10%;
            margin-block: 3%;

            .company-name {
                position: relative;
                font-size: 2.4rem;
                padding-left: 20px;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 0px 5px 10px;
                    border-color: transparent transparent transparent $color-blue;
                }
            }

            .company-address {
                font-size: 1.6rem;
            }
        }
    }
}