@use 'variables' as *;
@use 'mixin' as *;

.page {
    .section-title {
        position: relative;
        border-bottom: 2px solid $color-accent;
        padding-block: 75px;

        h2 {
            color: $color-main;
            font-size: 2.4rem;
            display: flex;
            align-items: center;
            gap: 10px;

            &::before {
                content: "";
                width: 10px;
                height: 10px;
                background-color: $color-blue;
                flex-shrink: 0;
            }
        }
    }


    .section-text {
        
        h3 {
            position: relative;
            font-size: 2.4rem;
            padding-block: 60px;
            padding-left: 20px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 0px 5px 10px;
                border-color: transparent transparent transparent $color-blue;
            }
        }
    }

    .text-title {
        width: 50%;

        @include sp {
            width: 100%;
        }

        h4 {
            background-color: $color-blue;
            border-radius: 15px;
            color: $color-white;
            padding: 20.5px 25px;
            font-size: 2.4rem;
        }

        p {
            margin-top: 50px;
            line-height: 40px;
        }

    }


}