@use 'variables' as *;
@use 'mixin' as *;

// ==========================
// 共通事項
// ==========================
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

p {
    font-size: 1.6rem;
    line-height: 160%;
}

html {
    scroll-behavior: smooth;
}
