// ==========================
// レスポンシブ
// ==========================
// $pc: 500px;
$tab: 768px;
$sp: 425px;

// ==========================
// 🎨 カラーパレット
// ==========================
// ベースカラー（背景）
$color-base: #FFFFFF;
$color-white: #FFFFFF;

// メインカラー
$color-main: #064180;


// アクセントカラー
$color-accent: #F97316;

// テキスト
$color-text: #333333;

// ライン系
$color-line: #767676;

// ==========================
// 変数
// ==========================
$header-height: 70px;
$sp-header-height: 50px;