// ==========================
// レスポンシブ
// ==========================
// $pc: 500px;
$tab: 768px;
$sp: 425px;

// ==========================
// 🎨 カラーパレット
// ==========================
// ベースカラー（背景）
$color-base: #FFFFFF;
$color-white: #FFFFFF;

// メインカラー
$color-main: #FFFFFF;


// アクセントカラー
$color-accent: #FFFFFF;

// テキスト
$color-text: #333333;

// ライン系
$color-line: #767676;

